-r debian/requirements.txt
apache-libcloud>=2.0.0
bleach>=2.1.4, <5.0
cryptography>=1.4.0
coverage==7.6.9
django==4.2.16
django-background-tasks==1.2.8
django-allauth==0.44.0
django-compressor==4.4
django-modeltranslation >=0.15
django-js-reverse >=0.9.0
django-sass-processor
fdroidserver==2.1.2
html5lib >= 1.1, <1.2
libsass
python-magic
qrcode
androguard==3.3.5
