# These requirements are not yet in Debian
fdroidserver==1.0.9
django-background-tasks>=1.1.9
django-sass-processor
django-allauth
django-hvad>=1.8.0
django-tinymce
django-js-reverse
apache-libcloud>=2.0.0
pywebview
