{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% if object %}
{% trans "Update" as action %}
{% else %}
{% trans "Add" as action %}
{% endif %}

{% block title %}
{% blocktrans %}{{ action }} {{ storage_name }}{% endblocktrans %}
{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block content %}

<h1>{% blocktrans %}{{ action }} {{ storage_name }}{% endblocktrans %}</h1>

<div class="rm-form">
	<form action="" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="{% blocktrans %}{{ action }} {{ storage_name }}{% endblocktrans %}"/>
	</form>
</div>

{% endblock content %}
