<!DOCTYPE html>
{% load sass_tags %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ repo.name }}</title>
	<link href="{% sass_src 'repomaker/css/repo/page.scss' %}" rel="stylesheet" type="text/css" media="all">

	<meta property="og:title" content="{{ repo.name }}" />
	<meta property="og:description" content="{{ repo.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ repo.get_fingerprint_url }}" />
	<meta property="og:image" content="{{ repo.icon|default:"f-droid.png" }}" />
	<meta property="og:site_name" content="F-Droid" />

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Service",
			"name": "{{ repo.name }}",
			"description": "{{ repo.description }}",
			"image": "{{ repo.icon|default:"f-droid.png" }}",
			"url": "{{ repo.get_fingerprint_url }}",
			"identifier": "{{ repo.fingerprint }}",
			"logo": "{{ assets }}f-droid.png"
		}
	</script>
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">

	<header class="{% block header-classes %}{% endblock %} mdl-layout__header mdl-layout__header--waterfall">
		<div class="mdl-layout__header-row">
			{% block header %}{% endblock header %}
		</div>
	</header>

	<main class="mdl-layout__content">
		{% block content %}{% endblock content %}
	</main>
</div>

{% block footer %}{% endblock footer %}

</body>
</html>
